.title_div {
    text-align: center;
}

#title {
    color: black;
    height: 80px;
    line-height: 80px
}

#instrument_panel_div{
    height: 81px;
}

#links_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
}

#users_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#long_url_text_box{
    width: 280px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#email_text_box {
    width: 280px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search_role_selector {
    margin-top: 20px;
    width: 150px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
}

#user_blocked_search {
    margin-top: 20px;
}

#users_search_button {
    margin-top: 20px;
}

#admin_lk_instruments {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#admin_links_redactor {
    margin-right: 30px;
}

#reset_search {
    margin-top: 20px;
}

#user_name_and_settings_admin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.select_link{
    margin-left: 10px;
}

.select_user{
    margin-left: 10px;
}

.page_div {
    text-align: center;
    display: flex;
    background-size: contain;
}

.page_center_div {
    text-align: center;
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.user_name_and_settings_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

table {
    border-collapse: collapse;
    width: 1000px;
}

td {
    border:1px solid black;
}

.user_name_div {
    margin-right: 15px;
}

.exit_link_div {
    text-align: right;
}

.links_instruments {
    display: flex;
    float: left;
    align-items: center;
}

.users_instruments {
    display: flex;
    float: left;
    align-items: center;
}

.select_all_div {
    margin-right: 20px;
}

.delete_button_div {
    margin-right: 20px;

}



.url_link_text{
    min-width: 100px;
}

.long_link_textBox {
    width: 550px;
    height: 34px;
    margin-right: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.links_class {
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    border: 1px solid black;
    align-items: center;
}

.users_class {
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    border: 1px solid black;
    align-items: center;
}

/********Модальное окно************/

/*CSS-свойства для заднего фона модального окна*/
.iw-modal {
    opacity: 0; /*изначально этот блок должен быть прозрачным*/
    background: rgba(0,0,0,0.7); /*задаём цвет фона*/
    pointer-events: none; /*делаем чтобы по элементу нельзя было кликнуть когда он прозрачный*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
}

.iw-modal:target {
    opacity: 1; /*при клике окно становится видимым*/
    pointer-events: auto; /*теперь по окну можно кликать мышкой*/
    overflow-y: auto; /*прокрутка по вертикли страницы*/
}

.iw-modal-wrapper {
    margin:auto; /*выравниваем окно по центру по горизонтали*/
    margin-top:25vh; /*отступ сверху можно задавать в px, % или vh*/
}

/*CSS-свойства для блока, содержащего контент модального окна */
.iw-CSS-modal-inner {
    position: relative;
    background: #fff; /*цвет фона*/
    border: 1px solid #ccc; /*цвет и толщина рамки*/
    border-radius: 0px; /*радиус скругления углов*/

}

/*CSS-свойства заголовка модального окна */
.iw-modal-header {
    padding: 15px;/*внутренний отступ*/
    background:#f1f1f1;/*цвет фона*/
    position:relative;
}
.iw-modal-title {
    font-size: 18px; /*размер шрифта*/
    color:#555; /*цвет шрифта*/
    font-weight:bold; /*жирность шрифта*/
    line-height: 1.5; /*высота строки*/
    margin-top: 0;
    margin-bottom: 0;
}

/*CSS для кнопки закрытия окна*/
.iw-close {
    position:absolute;
    top:15px; /*отступ сверху*/
    right:10px; /*отступ справа*/
    font-size: 24px; /*размер шрифта*/
    color: #555; /*цвет шрифта*/
    text-decoration: none;
}

.iw-close:hover, .iw-close:focus {
    color: #000; /*цвет шрифта при наведении*/
    cursor: pointer;
}

/*CSS для блока с текстом модального окна*/

.iw-modal-text {
    padding: 15px 20px; /*внутренний отступ*/
}

/**MEDIA**/
@media (min-width: 550px) {
    .iw-modal-wrapper {
        max-width: 500px;
    }
}
/**end.Модальное окно**/

