<!DOCTYPE html>
<html lang="ru">
	<head>
		<link rel="stylesheet" type="text/css" th:href = "@{/css/user-lk.css}">
		<title></title>
	</head>
	<body>

		<div class = "title_div">
			<h1 id = "title" >Укорачиватель ссылок</h1>
		</div>
		
		<div class = "page_div">
			<div class = "page_center_div">

				<div id = "login_label_div">
					<div class = "settings_div">

					</div>
				</div>

				
			
				<div class = "instrument_panel_div">

						<div id = "login_div">
							<form id="login_from" method="get" th:action="@{/get-new-pass}">

									<div id = "login_form_div">
									<div>
										<label>Почта</label>
										<input type="text" name="email" class = "login_input_class" size="50">
									</div>

									<button id = "submit_button" type="submit">Восстановить</button>

									</div>

							</form>
					</div>

					<p th:text = "${resetPasswordMessage}"> </p>



		</div>



	</body>
</html>